.MovieCardSmall {
  min-height: 15rem;
  width: 10rem;
  .img {
    height: 15rem;
    width: 10rem;
    border-radius: 0.9rem;

    border: none;
    outline: none;
    margin-bottom: 0.3rem;
    object-fit: cover;

    box-shadow: 5px 3px 8px black;
  }

  .img:hover {
    transform: scale(0.96);
    backdrop-filter: blur(9rem);
    box-shadow: 5px 10px 10px black;
    transition: 0.2s ease-in-out;
  }
  p {
    display: none;
    color: var(--primary-2);
    margin-left: 0.2rem;
    height: 4ch;
    text-overflow: ellipsis;
    overflow: hidden;
    // font-size: 0.9rem;
  }
}

@media (max-width: 769px) {
  .MovieCardSmall {
    min-height: 10rem;
    width: 7rem;
    .img {
      height: 10rem;
      width: 7rem;
    }
    p {
      display: none;
      color: var(--primary-2);
    }
  }
}
