.MovieCardSmall {
  min-height: 15rem;
  width: 10rem;
  .img {
    height: 14.5rem;
    width: 10rem;
    border-radius: 0.4rem;

    outline: none;
    object-fit: cover;
    box-shadow: 5px 3px 8px black;
  }

  .img:hover {
    box-sizing: border-box;
    border: solid white;
    transition-duration: 0.15s;
  }
  p {
    display: none !important;
  }
}

@media (max-width: 769px) {
  .MovieCardSmall {
    min-height: 10rem;
    width: 7rem;
    .img {
      height: 9.5rem;
      width: 6.5rem;
    }
    p {
      display: none;
      color: var(--primary-2);
    }
  }
}
