.MovieCardSmall {
  min-height: 15rem;
  width: 10rem;
  .img {
    height: 15rem;
    width: 10rem;
    border-radius: 0.1rem;
    
    border: none;
    outline: none;
    margin-bottom: 0.3rem;
    object-fit: cover;
    transition: 0.4s ease-in;
    box-shadow: 5px 5px 10px black;
  }

  .img:hover {
    transform: scale(1.01);
    backdrop-filter: blur(8rem);
    box-shadow: 10px 10px 15px black;
  }
  p {
    color: var(--primary-2);
    width: 100%;
    margin-left: 0.2rem;
    height: 4ch;
    text-overflow: ellipsis;
    overflow: hidden;
    // font-size: 0.9rem;
  }
}

@media (max-width: 769px) {
  .MovieCardSmall {
    min-height: 10rem;
    width: 7rem;
    .img {
      height: 10rem;
      width: 7rem;
    }
    p {
      color: var(--primary-2);
      width: 80%;
    }
  }
}
