.discordWidget {
  margin: 0 auto;
  max-width: 100%;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra */
  border-radius: 8px; /* Adiciona cantos arredondados */
  iframe {
    border-radius: 8px; /* Aplica cantos arredondados ao iframe */
  }
}
