.HomeListAll {
  padding: 40px;
  box-sizing: border-box;

  .sectionTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    margin: 20px 0;
    text-transform: uppercase;
    letter-spacing: 1.5px;

    .navigation {
      display: flex;
      gap: 20px;

      svg {
        cursor: pointer;
        font-size: 24px;
        color: var(--primary-3);

        &:hover {
          color: #ccc;
        }
      }
    }
  }
  .HomeListSection {
    overflow: auto;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    display: flex;
    margin: 2rem 0.5rem;
    margin-bottom: 3rem;
    //justify-content: center;
    //align-items: center;
    //flex-wrap: wrap;
    width: 100%;

    gap: 0.5rem;

    &::-webkit-scrollbar {
      display: none;
    }

    & > * {
      scroll-snap-align: start;
    }

    .loading {
      height: 15rem;
      width: 10rem;
    }
  }

  h1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 1rem;
      font-size: 0.8rem;

      svg {
        font-size: 1.5rem;
        cursor: pointer;
      }
    }
  }
  // h1{
  //   height: 3ch;
  //   margin-top: 3rem;
  //   padding: 0 1rem;
  //   border-left: 0.5rem solid var(--primary-3);
  //   border-radius: 0.5rem;
  //   display: flex;
  //   align-items: center;
  // }
}

@media (max-width: 769px) {
  .HomeListAll {
    padding: 7px;
    .HomeListSection {
      .loading {
        height: 10rem;
        width: 7rem;
      }
    }
    h1 {
      div {
        display: none;
      }
    }
  }
}
