.watch {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  .loader {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 0;
  }
  .videoContainer {
    height: 90%;
    width: 80%;
    border: none;
    outline: none;
    overflow: hidden;
    z-index: 1;
    ::-webkit-scrollbar {
      display: none !important;
    }
  }
}
.iframe {
  height: 95%;
  width: 90%;
  border: none;
  outline: none;
  overflow: hidden;
  z-index: 1;
  ::-webkit-scrollbar {
    display: none !important;
  }
}
.source {
  position: absolute;
  flex-direction: row;
  top: 0rem;
  background: var(--bg-color);
  color: var(--ascent-color);
  outline: none;
  //border: 1px solid var(--primary-2);
  border: none;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  border-radius: 0.5rem;
  margin: 1rem auto;
  line-height: 1rem;
  z-index: 2;

  .sourceButton {
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    background: var(--ascent-color);
    color: var(--watchPageBtn);
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background 0.3s ease;

    &:hover {
      background: var(--button-hover-bg);
    }
  }

  .active {
    background: var(--button-active-bg);
    color: var(--button-active-text);
  }
}
.backBtn {
  position: absolute;
  top: 2.5rem;
  left: 0;
  z-index: 1;
  cursor: pointer;
  color: var(--watchPageBtn);
  font-size: 1.4rem;
  padding: 1rem 1.5rem;
  svg {
    border: none;
    outline: none;
  }
}
.episodeControl {
  position: absolute;
  top: 2.5rem;
  right: 0;
  z-index: 2;
  cursor: pointer;
  color: var(--watchPageBtn);
  font-size: 1.4rem;
  padding: 1rem 1.5rem;
  display: flex;
  gap: 1rem;
  svg {
    border: none;
    outline: none;
  }
  .inactive {
    opacity: 0.5;
  }
  .nextSeason {
    color: var(--ascent-color);
    opacity: 1;
  }
}

@media (max-width: 769px) {
  .source {
    position: absolute;
    top: -2rem;
    width: 80%; /* Garante que a largura seja 100% */
    background: var(--bg-color);
    color: var(--ascent-color);
    outline: none;
    border: none;
    border-radius: 0.5rem;
    display: flex;
    flex-wrap: wrap; /* Permite que os botões quebrem para a linha seguinte se necessário */
    justify-content: center; /* Centraliza os botões */
    margin: 1rem auto;
    padding: 1rem; /* Adiciona um pouco de espaçamento interno */
    z-index: 1;

    .sourceButton {
      flex: 1 1 auto; /* Permite que os botões cresçam e encolham conforme necessário */
      min-width: 100px; /* Define uma largura mínima para os botões */
      padding: 0.2rem 1rem;
      margin: 0.25rem; /* Ajusta o espaçamento entre os botões */
      background: var(--ascent-color);
      color: var(--watchPageBtn);
      border: none;
      border-radius: 0.25rem;
      cursor: pointer;
      transition: background 0.3s ease;

      &:hover {
        background: var(--button-hover-bg);
      }
    }

    .active {
      background: var(--button-active-bg);
      color: var(--button-active-text);
    }
  }

  .watch {
    padding-left: unset;
    padding: 1.5rem 0.5rem;
    padding-bottom: 5rem;
    position: relative;

    .iframe {
      padding: 3rem 1rem;
      height: 80%;
      width: 100%;
      border: none;
      outline: none;
      position: relative;
    }

    :where(.episodeControl) svg {
      margin-top: 3rem;
      font-size: 2rem;
      z-index: 1;
      position: relative;
      margin-left: 4rem;
      pointer-events: auto; /* Garantir que o svg em si seja clicável */
    }
    .backBtn svg {
      margin-right: 2rem;

      font-size: 3rem;
      pointer-events: auto;
      z-index: 1;
    }

    :where(.episodeControl) {
      pointer-events: none; /* Desativar eventos de clique para o contêiner */
    }
  }
}
