.watch {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  .loader {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 0;
  }
  .videoContainer {
    height: 80%;
    width: 80%;
    border: none;
    outline: none;
    overflow: hidden;
    z-index: 4;
    ::-webkit-scrollbar {
      display: none !important;
    }
  }
  .server {
    position: absolute;
    top: 0rem;
    width: clamp(15rem, 50vw, 20rem);
    padding: 1rem 2rem;
    background: var(--bg-color);
    color: var(--primary-3);
    outline: none;
    // border: 1px solid var(--primary-2);
    border: none;
    border-radius: 0.5rem;
    margin: 1rem auto;
    line-height: 1rem;
    z-index: 2;
    // &[selected="true"]{
    //   color: var(--ascent-color);
    // }
  }
  .iframe {
    height: 80%;
    width: 80%;
    border: none;
    z-index: 1;
    ::-webkit-scrollbar {
      display: none !important;
    }
  }
}

@media (max-width: 769px) {
  .watch {
    padding-left: unset;
    padding: 1.5rem 0.5rem;
    padding-bottom: 5rem;
    .iframe {
      height: 80%;
      width: 80%;
      border: none;
      outline: none;
    }
  }
}
