.Filter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: #fff;
  border-radius: 10px;

  .filterRow {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  select {
    padding: 10px 15px;
    background-color: #181818;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 25px;
    outline: none;
    appearance: none;
    cursor: pointer;
    font-size: 16px;
    width: calc(33% - 10px); /* For three items in a row */
  }

  button {
    padding: 10px 15px;
    background-color: #1e90ff;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    width: calc(33% - 10px); /* For three items in a row */
    transition: background-color 0.3s;

    &:hover {
      background-color: #1c7ed6;
    }
  }
}

@media (max-width: 600px) {
  .Filter {
    .filterRow {
      flex-direction: column;
      align-items: stretch;
      width: 50%;
      flex-wrap: wrap;
      row-gap: 0.5rem;
      column-gap: 0.5rem;
      grid-template-columns: repeat(2, minmax(0, 1fr));

      select,
      button {
        width: 100%;
      }
    }
  }
}
