.carousel {
  width: 100vw; /* Ocupa toda a largura da viewport */
  overflow: hidden;
  position: relative; /* Para permitir o posicionamento absoluto das setas de navegação e dos pontos */

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 9%; /* Ajuste conforme necessário */
    background: linear-gradient(to bottom, transparent, var(--bg-color) 100%);

    pointer-events: none; /* Para garantir que o gradiente não interfira na interação com a imagem */
    z-index: 2;
  }
}

.carousel_images {
  height: var(--carousel-desktop-height);
  width: 100%;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;

  position: relative; /* Para permitir posicionamento absoluto do gradiente */
}

.carousel_images img,
.carousel_images video {
  width: 100%;
  height: 100%;
  object-position: top;
  object-fit: var(--carousel-object-fit);

  transition: opacity 2s ease;

  position: relative; /* Para que o gradiente seja sobreposto à imagem */
}

.carousel_images::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: radial-gradient(
    circle at 66% 48%,
    transparent 10%,
    #0a0a0a 75%
  );
  pointer-events: none; /* Para garantir que o gradiente não interfira na interação com a imagem */
}

.slide_direction {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  z-index: 3; /* Aumentar para que as setas estejam acima do gradiente */
}

.dots {
  display: none;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: gray;
  cursor: pointer;
}

.dot.active {
  background: var(--ascent-color);
}

.left,
.right {
  font-size: 1.5rem;
  color: var(--ascent-color);
  z-index: 4; /* Aumentar para que as setas estejam acima do gradiente */
  cursor: pointer;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.loading {
  opacity: 0 !important;
}

.loaded {
  opacity: 1 !important;
}

@media (max-width: 769px) {
  .carousel_images {
    height: var(--carousel-mobile-height);
  }
}
